 body {background-color: lemonchiffon;
       background-image: url("lightbulb.jpg");
       background-size: auto;
       background-attachement: fixed;
       background-position: center;
       background-repeat: no-repeat;
 }
      h1 {
        font-size: 250%;
        font-family: verdana;
      }
      h2 {
       font-size: 225%;
       font-family: verdana;
      }
      p {
       font-size: 150%;
      }
      ul {
       font-size: 150%;
      }
