
.parallax {
       height: 100%;
       background-color: black;
       background-image: url("wall.jpg");
       background-size: auto;
       background-attachement: fixed;
       background-position: center top;
       background-repeat: no-repeat;
       color: #ffffff;
 }
      h1 {
        font-size: 250%;
        font-family: verdana;
      }
      h2 {
       font-size: 225%;
       font-family: verdana;
      }
      p {
       font-size: 150%;
      }
      ul {
       font-size: 150%;
      }
