

.parallax {
       height = 100%;
       background-color: black;
       background-color: #002c75;
       background-size: cover;
       background-attachement: fixed;
       background-position: center top;
       background-repeat: no-repeat;
       color: #ffffff;
 }
      h1 {
        font-size: 250%;
        font-family: verdana;
      }
      h2 {
       font-size: 225%;
       font-family: verdana;
      }
      p {
       font-size: 150%;
       font-family: verdana;
      }
      ul {
       font-size: 150%;
       font-family: verdana;
      }
